body {
    font-family: 'Roboto', sans-serif;

}

.weather-value {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 36px;
    line-height: 42px;
}

.weather-value-temperature {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
}

card-placeholder {
    min-width: 264px;
    min-height: 200px;
    background: #C4C4C4;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
    display: table;
    float: left;
    padding: 0px;
    position: relative;
}

card {
    display: inline-block;
    background: #fff;
    border-radius: 2px;
    margin: 1rem;
    padding: 2rem;
    width: 240px;
    background: #C4C4C4;
}

.weather-card {
    min-width: 702px;
}

.clock-card {
    min-width: 400px;
}

.map-card {
    width: 1116px;
    height: 640px;
}

.side-card {
    height: 640px;
}

.station {
    font-size: 24px;
}

#temperature {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 75px;
}

#dewpoint {
    font-size: 36px;
    color: #d2d2d2;
}

#wind_dir {
    display: inline-block;
    margin-left: 6px
}

#wind {
    margin-right: 20px
}

#currenttime {
    font-style: normal;
    font-weight: 300;
    font-size: 72px;
    line-height: 84px;
    margin-right: 20px;
    text-align: right;
}

.airport-name {
    margin-top: 48px;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: right;
    margin-right: 20px;}